h1{
    text-align: center;
    margin-top: 100px;
    color: rgb(216, 25, 25);
    font-size: 100px;
    text-shadow: 5px 5px 10px black;
}

img{
    width: 100%;
}

body{
    display: flex;
    background-image: url(/juegos_pacman-stories.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#pacman{
    display: grid;
    grid-template-columns: repeat(19,40px);
    grid-template-rows: repeat(22,40px);
    margin: auto;
    width: fit-content;
    box-shadow: 10px 10px 20px black;
    margin-bottom: 41px;
}

.mur{
    background-image: url(/image/mur.gif);
}

.sol{
    background-image: url(/image/sol.gif);
}

.bonbon{
    background-image: url(/image/bonbon.gif);
}

.mangeur{
    background-image: url(/image/pacman4.gif);
}

.fantome0{
    background-image: url(/image/fantome0.gif);
}

.fantome1{
    background-image: url(/image/fantome1.gif);
}

.fantome2{
    background-image: url(/image/fantome2.gif);
}

.fantome3{
    background-image: url(/image/fantome3.gif);
}

.score{
    margin: auto;
    width: 400px;
    padding: 20px;
    color: black;
    font-size: 100px;
    background-color: rgb(212, 42, 212);
    text-align: center;
    font-family: "pacman";
}
#nb_fantome{
    margin: 50px auto;
    width: 100px;
    padding: 20px;
    color: black;
    font-size: 20px;
    background-color: rgb(177, 155, 177);
    text-align: center;
    font-family: "pacman";
}

#nb_fantome:hover{
    cursor: pointer;
}
.nb_fantome{
    width: 200px;
    height: 50px;
    background-color: thistle;
    text-align: center;
}
.rejouer{
    margin: 50px auto;
    width: 100px;
    padding: 20px;
    color: black;
    font-size: 20px;
    background-color: rgb(177, 155, 177);
    text-align: center;
    font-family: "pacman";
}

.rejouer:hover{
    cursor: pointer;
}

.pacman{
    width: 800px;
}

@font-face {
    font-family: "pacman";
    src: url(/crackman.ttf);
}